.App{
    text-align: center;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 60px;
    background: rgb(88, 238, 88);
    color: white;
  }
  
  .nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }